h1 {
	text-align: center;
}

body {
	font-size: 20px;
	margin: 5%;
	background-color: #FFFBE3;
}


p {
	display: flex;
	flex-wrap: wrap;
}

h3 {
	display: flex;
	flex-wrap: wrap;
}

h5 {
	display: flex;
	flex-wrap: wrap;
}

ul, li {
	float: left;
}

iframe {
	width: 0; 
	min-width: 100% !important; 
	border: none; 
	height: 692px;
}

