h1 {
	text-align: center;
}

body {
	font-size: 16px;
	margin: 5%;
}


.grid-item {
	background-color: grey;
	height: 200px;
	margin: 2px;
	margin-bottom: 5px;
}


}

@media(min-width: 681px) {

.grid-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid-item {
	flex-basis: 30%;
}
